body{
    /* font-family: "Sofia"; */
    font-family: 'Montserrat',sans-serif;
     overflow-x:hidden;   
     
}
html {
    scroll-behavior: smooth;
  }


/* home */
 .hero{
    height: 100vh;
    position: relative;
    background: no-repeat center center;
    background-attachment: fixed;
    background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.5)), url(image/th.jpg)no-repeat center center/cover ;  
} 

.home_info{
   padding-top: 200px;
}
.font_info{
  font-size: 60px;
}
.banner-area h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%,-50%);
  width: 100%;
  text-align: center;
}
/* .banner-area h2 span{
   color: blue;
} */
/* end of home */


/* header */
.nav-menu{
  background: linear-gradient(rgba(0,0,0, .8),rgba(0,0,0, .9));
  padding: 10px;
  transition: all.3s;
}
.menu-item{
  font-size: 13px;
  letter-spacing: 1px;
  color: #eee;
  transform: color.5s;
}

.menu-item:hover{
  color:#70aed2;
}
.line1, .line2, .line3{
  width:23px;
  height: 3px;
  margin:5px;
  transition: all.4s;
}
.change .line1{
  transform:rotate(-45deg)translate(-5px,6px);
}
.change .line2{
  opacity: 0;
}
.change .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}
.banner{
  position: absolute;
  top:50%;
  bottom:50%;
  left: 25%;
  color:#eee;
  transform: translate(-50%,-50%);
  width:85%;
}
/* .banner-par{
  animation-name: amin;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-fill-mode: backwards;

} */
@keyframes amin{
  0%{
    transform: translate3d(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
/*end of header*/


/* About me */
.abc{
  bottom: 50%;
  left: 50%;
}
.intro{
  position: absolute;
 
}
 .picture {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background-image: url(./image/th2.jpg);
	background-size: cover;
  background-position: top left;
	border-radius: 50%; 
}

.info{
  /* border: 1px solid #000; */
  border-style: double;
}
.info_title{
  font-size: 20px;
  width: 130px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  top:-20px;
}
.introduce{
   /* font-weight: bold;
   font-size: 18px; */
   font: italic bold 12px/30px Georgia, Sofia; 
   font-size: 18px; 
} 

.text_info{
  margin: 1px;
}
.fromLeft{
  animation: fromLeft;
  animation-duration: 2s;
}
.fromRight{
  animation-name: fromRight;
  animation-duration: 2s;
}
@keyframes fromLeft{
  0%{
    transform:translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fromRight{
  0%{
    transform: translateX(30px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
/*End of About me */

/* Abilities */

.abilite_info{
  text-align: center;
  font-size: 18px;
}

.checked{
  color: yellow;
}
/*End of abilities */

/* history */

.history_details{
  color: MediumSeaGreen;
}
@media screen and (min-device-width: 320px) 
              and (max-device-width: 568px) { 
                  .img_info{
                      height: 250px;
                      width: 310px;
                  }
                  .contact_info{
                    margin-left: 0;
                    left: 2px;
                  }
              }
@media screen and (min-device-width:375px)
              and (max-device-width:667px){
                .img_info{
                  width: 365px;
                }
              }

/* .moveFromLeft{

  /* interestes */
 
  /* end of interestes */
/*end of history */

/* picture */
.piechar_info{
  position: relative;
  background: no-repeat center center;
  background-attachment: fixed;
	background-image: url(./image/th1.jpg);
}

.left_info{
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 10px;
  color: #eee;
}
.right_info{
  padding-top: 95px;
}
.btn{
  border-style: solid;
  padding: 10px;
  border: 15px;
}
.btn:hover{
  animation: all.3s;
}
@media(max-width: 767px){
  .piechar_info, .text-right{ 
    text-align: center;
  }}
@media(max-width: 767px){
  .btn{
    border-top: 1rem;
  }
}
@media screen and(max-width: 414px)
      and(max-width:736px){
  .btn{
    padding-top: 20px;
  }
}
.fadeInLeft{
  animation: fadeInLeft;
  animation-duration: 3s;
}
.fadeInRight{
  animation-name: fadeInRight;
  animation-duration: 3s;
}
@keyframes fadeInLeft{
    /* from{ 
      left: 0px;
    }
    to{
      left: 100px;
    } */
  0%{
    transform:translateX(-120px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeInRight{
  0%{
    transform: translateX(120px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
/*end of picture */


/* footer */
.footer_info{
  color:#eee;
  font-size: 16px;
  transition: all .3s;
}
.footer_info:hover{
  color: grey;
  text-decoration: none;
}
/*end of footer */
